body {
    font-family: 'Montserrat', sans-serif;
}

/* --------------------------------------------------------------------------  */
/* ------------------------ TOP-HEADER SECTION ------------------------------  */
/* --------------------------------------------------------------------------  */

.top-header {
    padding-bottom: 244px;
    background-image: url("../images/bg1.png");
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1160px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px 10px;
}

#navbar {
    background-color: rgba(73, 71, 63, 0.6);
    margin-bottom: 246px;
    padding-top: 41px;
    padding-bottom: 38px;
}

#navbar.fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #4e4e4e;
    z-index: 1;
}

.navbar-content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.navbar-logo-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 254px;
}

.navbar-logo-img {
    width: 58px;
    background-color: #18cfab;
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    margin-right: 8px;
}

.navbar-logo-img::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 13px solid #18cfab;
}
.navbar-logo-img::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 13px solid #18cfab;
}

.navbar-logo-text-small {
    color: #ffffff;
    font-size: 32px;
}

.navbar-logo-text-big {
    color: #18cfab;
    font-size: 32px;
    font-weight: 700;
}

.menu-top {
    margin-right: 17px;
}

.menu-top-item {
    display: inline-block;
    margin-right: 15px;
}

.menu-top-link {
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.menu-top-link:hover,
.menu-top-link:active {
    color: #18cfab;
}

.menu-top-link::after {
    content: "";
    background-color: #18cfab;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -51px;
    left: 0px;
    visibility: hidden;
}

.menu-top-link:hover::after {
    visibility: visible;
}

.navbar-search {
    display: none;
}

.navbar-search-item {
    background: url("../images/icons.png") -74px -70px;
    width: 22px;
    height: 22px;
}

.main-header-title {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.main-header-title-turquoise {
    color: #18cfab;
}

.main-header-title-big {
    color: #ffffff;
    font-size: 79px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 37px;
    text-transform: uppercase;
}

.main-header-paragraph {
    color: #d4d4d4;
    font-size: 34px;
    text-align: center;
    margin-bottom: 142px;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 26px 0;
    width: 166px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-right: 28px;
    box-shadow: 0 -4px 0 #ffffff;
}

.green-btn {
    background-color: #18cfab;
}

.green-btn:hover {
    background-color: #13a084;
    box-shadow: 0 -4px 0 #cccccc;
}

.blue-btn{
    background-color: #00cbf6;
}

.blue-btn:hover{
    background-color: #00aacc;
    box-shadow: 0 -4px 0 #cccccc;
}

/* --------------------------------------------------------------------------  */
/* ------------------------ OPTIONS SECTION ---------------------------------  */
/* --------------------------------------------------------------------------  */


.options-section {
    display: flex;
}

.options-section-img-container {
    height: 97px;
}

.options-section-img:hover {
    animation: scale 1.5s;
}

@keyframes scale {
    0% {
        transform: scale(1.0, 1.0);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1.0, 1.0);
    }
}

.options-section-rectangle {
    text-align: center;
    width: 25vw;
    padding: 95px 0px 120px;
}

.options-section-dark-rectangle {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
}

.options-section-turquoise-rectangle {
    background-color: #18cfab;
    border-top: 7px solid #ffffff;
}

.options-section-paragraph {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 49px;
}

.options-section-paragraph-turquoise {
    color: #18cfab;
}

/* --------------------------------------------------------------------------  */
/* ------------------------ SERVICES SECTION --------------------------------  */
/* --------------------------------------------------------------------------  */



.services-section {
    padding: 82px 0px 103px;
    background-color: #ffffff;
    text-align: center;
}

.standard-section-title {
    color: #4e4e4e;
    font-size: 36px;
    margin-bottom: 37px;
    position: relative;
}

.standard-section-title::before {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 539px;
    display: inline-block;
    background-color: #18cfab;
    width: 77px;
    height: 1px;
}

.standard-section-title::after {
    content: "";
    position: absolute;
    bottom: -31px;
    left: 551px;
    display: inline-block;
    background-color: #18cfab;
    width: 77px;
    height: 1px;
}

.services-section-menu {
    background-color: #f8fcfe;
    margin: 70px 0px 25px;
}

.services-section-menu-item {
    display: inline-block;
    text-align: center;
}

.services-section-menu-link {
    display: inline-block;
    width: 188px;
    padding: 27px 0px 30px;
    color: #717171;
    font-size: 16px;
    border-right: 1px solid #ececec;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    position: relative;
}

.services-section-menu-link.active {
    color: #ffffff;
    background-color: #18cfab;
    border-right: 1px solid #18cfab;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
}

.services-section-menu-link.active::after {
    content: "";
    position: absolute;
    bottom: -26px;
    height: 13px;
    left: calc(50% - 12px);
    border-left: 12px solid #0000;
    border-right: 12px solid #0000;
    border-top: 12px solid #18cfab;
}

.services-section-menu-item:first-child {
    border-left: 1px solid #ececec;
}

/*.services-section-menu-link:hover,
.services-section-menu-link:active {
    color: #ffffff;
    background-color: #18cfab;
    border-right: 1px solid #18cfab;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
}

.services-section-menu-link:hover::after,
.services-section-menu-link:active::after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 72px;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-top: 24px solid #18cfab;
}*/

.services-section-menu-info {
    display: none;
}

.services-section-menu-info_active {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.services-section-menu-image {
    /*
    width: 194px;
    */
    height: 139px;
    margin-right: 20px;
    display: inline-block;
}

.services-section-menu-paragraph {
    color: #777777;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    display: inline-block;
}
/* --------------------------------------------------------------------------  */
/* ------------------------ PURCHASE PROPOSAL SECTION -----------------------  */
/* --------------------------------------------------------------------------  */


.purchase-proposal-section {
    padding: 126px 0px 127px;
    text-align: center;
    background-image: url("../images/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 0px 960px 0px inset rgba(0, 0, 0, 0.78);
}

.purchase-proposal-section-title {
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.purchase-proposal-section-paragraph {
    color: #d8d8d8;
    font-size: 16px;
    margin-bottom: 76px;
}

.purchase-proposal-section-btn {
    padding: 22px 25px;
    border-radius: 4px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 -4px 0 #ffffff;
    background-color: #18cfab;
    display: inline-block;
}

.purchase-proposal-section-btn:hover {
    background-color: #13a084;
    box-shadow: 0 -4px 0 #cccccc;
}

/* --------------------------------------------------------------------------  */
/* ------------------------ PORTFOLIO SECTION -------------------------------  */
/* --------------------------------------------------------------------------  */


.portfolio-section {
    padding: 97px 0px 100px;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
    background-color: #f8fcfe;
}

.portfolio-section-menu {
    margin: 70px 0px 71px;
    font-size: 0;
}

.portfolio-section-menu-item {
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
}

.portfolio-section-menu-link {
    display: inline-block;
    padding: 24px 21px 20px 29px;
    color: #717171;
    font-size: 14px;
    border-right: 1px solid #ececec;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    position: relative;
}

.portfolio-section-menu-link.active {
    color: #18cfab;
}

.portfolio-section-menu-link.active::before {
    content: "";
    background-color: #18cfab;
    width: 100%;
    height: 2px;
    position: absolute;
    top: -2px;
    left: 0px;
}

.portfolio-section-menu-item:first-child {
    border-left: 1px solid #ececec;
}

.portfolio-section-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 75px 0px 71px;
}

.portfolio-section-gallery-category.hide {
    display: none;
}

.portfolio-section-gallery-category {
    width: 285px;
    position: relative;
}

.portfolio-section-gallery-container {
    max-width: 100%;
    height: 206px;
    overflow: hidden;
    position: relative;
}

.portfolio-section-gallery-img {
    width: 290px;
    height: 206px;
}

.portfolio-section-gallery-details {
    position: absolute;
    background-color: #ffffff;
    width: 290px;
    padding: 46px 0px 52px;
    border-top: 3px solid #18cfab;
    box-sizing: border-box;
}

.portfolio-section-gallery-container:hover .portfolio-section-gallery-details {
    top: 0px;

}

.portfolio-section-gallery-details-link {
    background: url("../images/icons.png") -71px -10px;
    width: 41px;
    height: 40px;
    margin-right: 5px;
    display: inline-block;
}

.portfolio-section-gallery-details-search-link {
    background: url("../images/icons.png") -10px -10px;
    width: 41px;
    height: 40px;
    display: inline-block;
}

.portfolio-section-gallery-details-title {
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 34px;
    margin-bottom: 13px;
}

.portfolio-section-gallery-details-paragraph {
    color: #8a8a8a;
    font-size: 12px;
}

.section-btn {
    padding: 22px 22px;
    border-radius: 4px;
    background-color: #18cfab;
    display: inline-block;
    position: relative;
}

.section-btn-text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-left: 32px;
}

.section-btn::before {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #ffffff;
    width: 4px;
    height: 16px;
    top: calc(50% - 8px);
    left: 28px;
}

.section-btn::after {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #ffffff;
    width: 16px;
    height: 4px;
    top: calc(50% - 2px);
    left: 22px;
}

.section-btn:hover {
    background-color: #13a084;
}

.bubbles {
    display: none;
    padding: 11px 0px 12px;
}

.bubble {
    display: inline-block;
    padding: 0px 5px;
}
.bubble:nth-of-type(1) .circle {
    animation-delay: 0.1s;
}
.bubble:nth-of-type(2) .circle {
    animation-delay: 0.2s;
}
.bubble:nth-of-type(3) .circle {
    animation-delay: 0.3s;
}
.bubble:nth-of-type(4) .circle {
    animation-delay: 0.4s;
}
.bubble:nth-of-type(5) .circle {
    animation-delay: 0.5s;
}
.bubble:nth-of-type(6) .circle {
    animation-delay: 0.6s;
}
.bubble:nth-of-type(7) .circle {
    animation-delay: 0.7s;
}
.bubble:nth-of-type(8) .circle {
    animation-delay: 0.8s;
}
.bubble:nth-of-type(9) .circle {
    animation-delay: 0.9s;
}
.bubble:nth-of-type(10) .circle {
    animation-delay: 1s;
}

.bubble .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #18cfab;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.2);
        opacity: 0.75;
    }
    100% {
        transform: scale(1);
    }
}


/* --------------------------------------------------------------------------  */
/* ---------------------------- NEWS SECTION --------------------------------  */
/* --------------------------------------------------------------------------  */


.news-section {
    padding: 84px 0px 131px;
    text-align: center;
    background-color: #ffffff;
}

.news-section-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    align-content: space-between;
}

.news-section-notes-img {
    position: relative;
    width: 263px;
    height: 208px;
    cursor: pointer;
}

.news-section-notes-date {
    position: relative;
    bottom: 211px;
    left: 195px;
    padding: 15px 0px 14px;
    width: 68px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    background-color: #203e38;
    transition: 1s;
}

.news-section-notes:hover .news-section-notes-date {
    background-color: #18cfab;
}

.news-section-notes-date-number {
    margin-bottom: 10px;
}

.news-section-notes-text {
    border: 1px solid #ececec;
    padding: 15px 0px 11px 19px;
    text-align: left;
    position: relative;
    bottom: 74px;
}

.news-section-notes-title {
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 14px;
    transition: 1s;
}

.news-section-notes:hover .news-section-notes-title {
    color: #18cfab;
}

.news-section-notes-author {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    padding-right: 15px;
    border-right: 1px solid #777777;
}

.news-section-notes-comments {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    padding-left: 15px;
}

/* --------------------------------------------------------------------------  */
/* ------------------------ REVIEWS SECTION ---------------------------------  */
/* --------------------------------------------------------------------------  */

.reviews-section {
    padding: 99px 0px 104px;
    background-image: url("../images/bg3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.reviews-section-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reviews-section-title {
    color: #ffffff;
    margin-bottom: 31px;
    font-size: 36px;
    position: relative;
}

.reviews-section-title::before {
    content: "";
    position: relative;
    bottom: -26px;
    left: 316px;
    display: inline-block;
    background-color: #18cfab;
    width: 77px;
    height: 1px;
}

.reviews-section-title::after {
    content: "";
    position: relative;
    bottom: -30px;
    left: -330px;
    display: inline-block;
    background-color: #18cfab;
    width: 77px;
    height: 1px;
}

.quotes-icon {
    background: url("../images/icons.png") -10px -70px;
    width: 44px;
    height: 30px;
    display: inline-block;
    margin: 70px 0px 43px;
}

.review-item-block {
    max-width: 1140px;
    margin-bottom: 41px;
}

.review-item-wrapper {
    overflow: hidden;
}

.review-item-list {
    width: 10000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.review-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.review-item-text-content {
    display: inline-block;
    height: 80px;
    margin-bottom: 43px;
}

.review-item-text {
    display: inline-block;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    width: 1140px;
}

.review-item-writer-name {
    display: inline-block;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.review-item-writer-position {
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 27px;
}

.review-item-writer-container {
    background-color: rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    width: 164px;
    height: 163px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 54px;
}

.review-item-writer-photo-big {
    width: 143px;
    height: 142px;
    border-radius: 50%;
    border: 3px solid #1fdab5;
}

.carousel-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-block {
    max-width: 392px;
}

.carousel-wrapper {
    overflow: hidden;
}

.carousel {
    width: 500px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.carousel-arrow-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-right: 30px;
    cursor: pointer;
}

.carousel-arrow-left:hover,
.carousel-arrow-left:active {
    background-color: #18cfab;
    border: 1px solid #18cfab;
}

.carousel-arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-right: 30px;
    cursor: pointer;
}

.carousel-arrow-right:hover,
.carousel-arrow-right:active {
    background-color: #18cfab;
    border: 1px solid #18cfab;
}

.carousel-small-photo {
    display: inline-block;
    height: 58px;
    border-radius: 50%;
    border: 5px solid rgba(31, 218, 181, 0.2);
    margin-right: 30px;
}

.carousel-small-photo-active {
    position: relative;
    top: -13px;
}


/* --------------------------------------------------------------------------  */
/* ---------------------------- BEST IMAGES SECTION -------------------------  */
/* --------------------------------------------------------------------------  */

.best-images {
    padding: 98px 0px 82px;
    text-align: center;
    background-color: #f8fcfe;
}


/* --------------------------------------------------------------------------  */
/* ------------------------ FOOTER SECTION ----------------------------------  */
/* --------------------------------------------------------------------------  */

.footer {
    padding: 47px 0px;
    background-color: #22353f;
    text-align: center;
}

.copyright-text {
    color: #aeaeae;
    font-size: 14px;
    padding-right: 5px;
    border-right: 1px solid #aeaeae;
}

.copyright-text-turquoise {
    color: #18cfab;
}

.copyright-rights {
    color: #aeaeae;
    font-size: 14px;
    padding-left: 5px;
}





