.main-container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section {
    position: relative;
}

.parallax::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

.bg1::after {
    background-image: url("../images/bg1.jpg");
}

.section-container {
    padding: 530px 82px 145px 82px;
}

.section-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 16px;
}

.section-paragraph {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 28px;
}

.section-block {
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    padding: 49px 56px 42px 0px;
    display: inline-block;
}

.section-block-left-part {
    color: #f1ad1d;
    background-color: #ffffff;
    padding: 43px 34px 36px 29px;
}

.standard-section {
    padding: 157px 0px 122px;
    background-color: #ffffff;
}

.standard-section-title {
    color: #333333;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.standard-section-paragraph {
    color: #4d4943;
    font-size: 17px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 52px;
}

.orange-vertical-line {
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: none;
}

.standard-title-orange-word {
    color: #f1ad1d;
}

.bg2::after {
    background-image: url("../images/bg2.jpg");
}

.section-3 {
    padding: 150px 0px 150px;
}

.section-white-title {
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 60px;
}

.orange-text {
    color: #f1ad1d;
}

.bg3::after {
    background-image: url("../images/bg3.jpg");
}

.section-5 {
    padding: 174px 0px 114px;
}

.section-logo-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 58px;
}

.first-logo-link {
    width: 207px;
    height: 28px;
    margin-right: 54px;
}

.second-logo-link {
    width: 135px;
    height: 49px;
    margin-right: 54px;
}

.third-logo-link {
    width: 172px;
    height: 42px;
    margin-right: 54px;
}

.fourth-logo-link {
    width: 141px;
    height: 52px;
}

.bg4::after {
    background-image: url("../images/bg4.jpg");
}

.section-7 {
    padding: 130px 0px 119px;
}

.section-white-paragraph {
    color: #ffffff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-top: 60px;
}

.standard-paragraph-orange-text {
    color: #f1ad1d;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 44px;
    font-family: 'Lato', sans-serif;
}

.white-vertical-line {
    background-color:  #ffffff;
    width: 281px;
    height: 3px;
    border: none;
}

