@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/arimo-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Arimo Regular'), local('Arimo-Regular'),
    url('../fonts/arimo-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/arimo-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/arimo-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/arimo-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/arimo-v11-latin-regular.svg#Arimo') format('svg'); /* Legacy iOS */
}
/* arimo-italic - latin */
@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/arimo-v11-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Arimo Italic'), local('Arimo-Italic'),
    url('../fonts/arimo-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/arimo-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/arimo-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/arimo-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/arimo-v11-latin-italic.svg#Arimo') format('svg'); /* Legacy iOS */
}
/* arimo-700 - latin */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/arimo-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Arimo Bold'), local('Arimo-Bold'),
    url('../fonts/arimo-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/arimo-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/arimo-v11-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/arimo-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/arimo-v11-latin-700.svg#Arimo') format('svg'); /* Legacy iOS */
}
/* arimo-700italic - latin */
@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/arimo-v11-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local('Arimo Bold Italic'), local('Arimo-BoldItalic'),
    url('../fonts/arimo-v11-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/arimo-v11-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/arimo-v11-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/arimo-v11-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/arimo-v11-latin-700italic.svg#Arimo') format('svg'); /* Legacy iOS */
}

body {
    font-family: 'Arimo', sans-serif;
}

.container {
    width: 1145px;
    background-color: #374765;
    padding: 30px;
}

.price-table td {
    width: 157px;
    text-align: center;
    color: #484848;
    text-transform: uppercase;
    box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.27);
}

.price-table p {
    padding-bottom: 7px;
}

.top-left-cell {
    color: #484848;
    text-transform: uppercase;
    font-weight: 700;
    width: 198px;
    padding: 32px 0 32px 0;
}

.top-left-cell-small-text {
    font-size: 14px;
}

.top-left-cell-big-text {
    font-size: 20px;
}

.table-header-icon {
    color: #848484;
    font-size: 24px;
    display: block;
    padding-bottom: 10px;
}

.table-header-icon-text {
    color: #484848;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    font-weight: 700;
}

.price-table th:nth-child(odd) {
    background-color: #f2f2f2;
}

.price-table th:first-child {
    background-color: #ffffff;
}

.price-table th:nth-child(even) {
    background-color: #e3e3e3;
}

.price-table tr:first-child td:first-child {
    background-color: #89c331;
}

.price-table tr:nth-child(2) td:first-child {
    background-color: #f04a56;
}

.price-table tr:nth-child(3) td:first-child {
    background-color: #20807c;
}

.price-table td:nth-child(odd) {
    background-color: #f2f2f2;
}

.price-table td:nth-child(even) {
    background-color: #e3e3e3;
}

.pricing-plan-cell-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
}

.pricing-plan-cell {
    padding-top: 15px;
    padding-bottom: 15px;
}

.price {
    padding: 20px 0 20px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.price-big-text {
    font-size: 36px;
}

.price-small-text {
    font-size: 18px;
    position: relative;
    bottom: 13px;
    right: 4px;
}

.price-term-text {
    font-size: 14px;
}

.buy-now-button {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 33px 10px 34px;
    background-color: #414141;
    box-shadow: 0 5px 0 #343434;
}

.buy-now-button:hover {
    background-color: #262626;
    box-shadow: 0 5px 0 #1a1a1a;
}

