body {
    background: url("../img/background-image.png");
    background-size: cover;
    font-family: Verdana, sans-serif;
}

.header {
    background-color: rgba(0, 0, 0, 0.41);
    margin-bottom: 65px;
    padding-top: 20px;
    padding-bottom: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.header-container {
    width: 1210px;
}

.header-logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 735px;
    transition: color 0.5s linear;
    display: inline-block;
}

.header-logo:hover {
    color: #3aba78;
}

.icons {
    border-right: 1px solid #2e2d2d;
    margin-right: 25px;
    display: inline-flex;
    padding-right: 25px;
}

.calendar-icon {
    background: url("../img/icons.png") -5px -5px;
    width: 19px;
    height: 19px;
    margin-right: 20px;
}

.calendar-icon:hover {
    background-position: -34px -5px;
}

.forum-icon {
    background: url("../img/icons.png") -63px -5px;
    width: 28px;
    height: 20px;
    margin-right: 20px;
}

.forum-icon:hover {
    background-position: -101px -5px;
}

.compass-icon {
    background: url("../img/icons.png") -139px -5px;
    width: 20px;
    height: 20px;
}

.compass-icon:hover {
    background-position: -169px -5px;
}

.top-menu-authorization {
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
}

.green-link {
    color: #3aba78;
}

.green-link:hover {
    border-bottom: 1px solid #3aba78;
}

.authorization-pop-up {
    width: 444px;
    padding: 29px 60px 32px;
    box-sizing: border-box;
    margin: 0 auto 65px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    border-radius: 10px;
}

.green-square {
    position: absolute;
    left: 0;
    top: 29px;
    width: 18px;
    height: 18px;
    background-color: #3aba78;
}

.sign-up {
    margin-bottom: 17px;
    display: inline-block;
}

.sign-up-name {
    color: #434343;
    font-size: 20px;
    margin-right: 190px;
    display: inline-block;
}

.social-bottom {
    margin-bottom: 12px;
    display: flex;
}

.social-bottom-link {
    border-radius: 3px;
    padding: 9px 30px 9px 20px;
    width: 157px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.social-bottom-link:nth-child(odd) {
    margin-right: 8px;
}

.facebook-link {
    background-color: #264b96;
}

.google-plus-link {
    background-color: #c3412c;
}

.social-link-text {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
}

.vertical-line {
    width: 1px;
    height: 28px;
    border: none;
    margin: 0 auto;
    background-color: #302e2c;
    opacity: .3;
}

.horizontal-line-info {
    color: #848484;
    font-size: 14px;
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 18px;
}

.horizontal-line-info:before {
    content: "";
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0;
}

.horizontal-line-text {
    display: inline-block;
    padding: 0 18px;
    background: #ffffff;
    position: relative;
    z-index: 2;
}


.authorization-form-field {
    border-radius: 3px;
    border: 1px solid #ebebeb;
    padding: 15px 0 15px 18px;
    margin-bottom: 9px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
}

.authorization-form-field:nth-child(5) {
    margin-bottom: 19px;
}

.authorization-form-field::placeholder {
    color: #bebebe;
    font-size: 14px;
}

.authorization-form-field:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    border: 1px solid transparent;
    color: #5a5a5a;
}

.green-submit-bottom {
    background-color: #3cb878;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: .5px;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 13px 0 13px 18px;
    outline: none;
    width: 100%;
    margin-top: 28px;
}

input[type="checkbox"] {
    display: none;
}

label {
    position: relative;
    color: #414141;
    font-size: 14px;
    margin-bottom: 28px;
}

input[type="checkbox"] + label:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label:after {
    background: url("../img/checkbox.png") no-repeat;
    content: "";
    width: 14px;
    height: 11px;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    left: 5px;
    top: 6px;
}





