body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.top-menu {
  padding: 30px 0;
  margin: 0;
  text-align: center;
}

.top-menu-item {
  margin: 0 30px;
  display: inline-block;
}

.top-menu-link {
  text-decoration-line: none;
  color: #1e9f83;
  transition: color 0.5s linear;
  text-transform: uppercase;
  font-weight: bold;
}

.top-menu-link:hover { 
  color: #ff6699;
  text-decoration: underline;  
}

.main-content {
  background: #f5f6f8;
  text-align: center;
  margin: 0;
  padding-bottom: 100px;
}

.main-photo {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.main-content-text {
  padding: 40px 10%;
  text-align: center;

}

.main-content-title {
  color: #383a39;
  text-transform: uppercase;
  font-weight: bold;
}

.main-content-paragraph {
  color: #383a39;
  font-weight: bold;
  line-height: 25px;
}

.button-start {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid;
  border-color: #16a086;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #16a086;
  transition: color, background-color .5s linear;
}

.button-start:hover {
  color: #16a086;
  background-color: #ffffff;
  border: 2px solid;
}

.footer {
    padding: 41px 10% 40px;
 }

.copyright {
  text-align: right;
  font-weight: bold;
  color: #383a39;
  margin: 0;
}









