body {
	font-family: 'Encode Sans Semi Expanded', sans-serif;
}

.main-container {
	width: 1366px;
    max-width: 100%;
	background-image: url(../images/background.png);
    margin: 0 auto;
}

.container {
	width: 1059px;
	margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.header {
	padding-top: 40px;
	padding-bottom: 40px;
}

.header-logo {
    float: left;
}

.logo-image {
    display: inline-block;
    background-image: url(../images/logo-sprite.png);
    background-position: -61px -5px;
    width: 46px;
    height: 44px;
    margin-right: 15px;
}

.header-logo:hover .logo-image {
    background-position: -5px -5px;
}

.logo-name {
    display: inline-block;
}

.header-logo-big-text {
	font-size: 29px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    display: block;
}

.header-logo:hover .header-logo-big-text {
    color: #f26522;
}

.header-logo-small-text {
	font-size: 18px;
	letter-spacing: .5px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    display: block;
}

.header-logo:hover .header-logo-small-text {
    color: #f26522;
}

.header-contacts {
	float: right;
	color: #ffffff;
	font-size: 18px;
	line-height: 21px;
	text-align: right;
}

.header-contacts-text {
	display: block;
	letter-spacing: 1px;
    color: #ffffff;
}

.tours {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.types-of-tours {
    margin-right: 68px;
	margin-bottom: 60px;
	width: 307px;
	position: relative;
}

.types-of-tours:nth-child(3n) {
    margin-right: 0;
}

.types-of-tours-container {
    width: 307px;
    height: 201px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #ffffff 0%, #000000 100%);
    border-image-slice: 1;
    box-shadow: 0 17px 24px 0 #000000;
}

.types-of-tours-image {
    max-width: 100%;
}

.tour-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: #f26522;
	color: #ffffff;
	position: absolute;
    top: 202px;
    width: 100%;
	padding: 16px 15px 17px 15px;
	box-sizing: border-box;
    transition: 1s;
}

.types-of-tours-container:hover .tour-details {
    top: 138px;
}

.tour-details-price-from {
	font-size: 10px;
	display: block;
}

.tour-details-cost {
	font-size: 20px;
	display: block;
}

.view-details-link {
    font-size: 14px;
    color: #ffffff;
    padding-right: 15px;
}

.view-details-link::after {
    content: ">";
    display: inline-block;
    width: 7px;
    font-size: 10px;
    opacity: .5;
    font-weight: 700;
    margin-left: 15px;

}

.tour-name {
	color: #ffffff;
	font-size: 18px;
    display: block;
    text-align: center;
}

.types-of-tours:hover .tour-name {
	color: #f26522;
}

.footer {
    padding-bottom: 20px;
}

.copyright {
	text-align: center;
	color: #ffffff;
	font-size: 12px;
}