body {
	font-family: "Myriad Pro", sans-serif;
}

.main-container {
	width: 1280px;
	margin: 61px auto 30px; 
}

.logo {
	margin-bottom: 49px;
	display: inline-block;
}

.logo-link {
	font-size: 80px;
}

.logo-black {
	color: #000000;
}

.logo-blue {
	color: #4bcaff;
}

.top-menu {
    background-color: #35444f;
    font-size: 0; /* чтобы убрать небольшое расстояние между пунктами меню */
	text-align: center; 
	margin-bottom: 44px;
}

.top-menu-item {
	display: inline-block;
}

.top-menu-link {
	display: inline-block;
	padding: 26px 40px;
    font-size: 24px;
    color: #ffffff;
    border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

.top-menu-link:hover {
    background-color: #222f3a;
    border-left: 1px solid #818181;
	border-right: 1px solid #818181;
}

.clearfix::after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

.aside-bar {
	float: left;
	margin-right: 50px;
	box-sizing: border-box;
 	width: 344px;
 }

.left-menu {
  	border: 1px solid #32424e;
}  

.left-menu-link {
	display: inline-block;
	padding: 28px 0 28px 42px;
    font-size: 27px;
    width: 100%;
	box-sizing: border-box;
	color: #485863;
}

.left-menu-link:hover {
	color: #000000;
	background-color: #dcdcdc;
	padding-left: 69px; 
}

.right-content  {
	float: right;
    width: 885px;
}

.main-img-container {
	border: 1px solid black;
	margin-bottom: 50px;
  	box-sizing: border-box;
    padding-top: 75px;
    padding-bottom: 73px;
    text-align: center;
}

.main-img {
    transition: all .5s ease-out;
    max-width: 100%;
}

.main-img:hover {
	transform: scale(1.1);
}
 
.right-content-text {
	width: 820px;
	padding: 0 33px;
	margin-bottom: 21px;
}

.right-content-paragraph {
	color: #2c2b2b;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 30px;
 }

.footer {
	background-color: #b5b8bb;
	color: #000000;
	padding: 0 44px;
}

.footer-menu {
	float: left;

}

.footer-menu-item {
	display: inline-block;
	font-size: 28px;
	margin: 22px 10px;
 }

.footer-menu-link {
	text-decoration: none;
	color: #000000;
	transition: color .3s linear;
	border-bottom: 1px solid transparent;
}

.footer-menu-link:hover {
	border-bottom: 1px solid #3785a8;
	color: #3785a8;
}

.copyright {
	float: right;
	font-size: 24px;
	margin: 25px 0;
}